{% include 'includes/header' %}
  <section class="intro">
    <div class="hero">
    </div>
    <div class="description">
      <h1><span>Get</span>Biked</h1>

      <p><strong>An email list of bikes for sale in New York City.</strong></p>
      <p>Each week, an organized list of beautiful bikes is delivered to your inbox. Just sit back and wait for your potential new bike to appear.</p>
      <section class="signup">
        <div class="container">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://iamdavedawson.us6.list-manage.com/subscribe/post?u=d7b57d8da83c0125ac45d82c4&amp;id=f56ce221d3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <input type="submit" value="Join the List" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </section>
    </div>
  </section>
  <section class="links">
    <a href="/bikes/" class="bikes">
      <div class="wrap">
        <span class="ss-icon">bike</span>
        Look for a bike
        <em>And then go for a ride</em>
      </div>
    </a>
    <a href="/list/" class="list">
      <div class="wrap">
        <span class="ss-icon">cheesepizza</span>
        List your bike for sale
        <em>And then throw yourself a pizza party</em>
      </div>
    </a>
    <a href="https://getbiked.wufoo.com/forms/how-do-you-feel-about-bikes-and-biking/" class="education-form">
      <div class="wrap">
        <span class="ss-icon">pointright</span>
        Get Biked needs your help!
        <em>
        <strong>An education platform is in the works.</strong> You're invited to contribute to how it's shaped! Please fill out this quick survey about your biking experience. The answers recieved will help form the topics that will be tackled in the education section.
      </em>
      </div>
    </a>
<!--     <a href="#" class="education">Educate yourself! (coming soon)</a>
    <a href="#" class="shop">Shop (coming soon)</a> -->
  </section>

{% include 'includes/footer' %}
