{% include 'includes/header' %}

<div class="container">
  <section class="submit">
  <h1>List your bike for sale</h1>
    <form id="form1" name="form1" class="wufoo topLabel page" enctype="multipart/form-data" method="post" novalidate
      action="https://getbiked.wufoo.com/forms/zw8ypa8151aq6r/#public">

      <h1><span>Submit a </span>Bike For Sale</h1>
      <h3>Find a good home for your bike in NYC.</h3>
      <h3><strong>Note:</strong> The first email of 2016 will go out on May 10. Any bikes submitted until then will be included in that email.</h3>

      <p class="lead-in"><strong>Get Biked emails get sent out on Tuesdays, please have you submissions in by 1:00 p.m. on Monday.</strong> If you have any concerns, I've written <a href="http://www.iamdavedawson.com/blog/get-biked/">a quick post about the motivation behind this project</a>. If you have any questions at all, feel free to email me at <a href="mailto:hi@getbiked.com">hi@getbiked.com</a></p>

      <ul>
        <h4>About You</h4>
        <li id="foli8" class="notranslate name">
          <label class="desc" id="title8" for="Field8">
            Your name<span id="req_8" class="req">Required field</span>
          </label>
          <div class="field-group">
            <input id="Field8" name="Field8" type="text" placeholder="First name" class="field text fn" value="" size="8" tabindex="1" required />
            <input id="Field9" name="Field9" type="text" placeholder="Last name"class="field text ln" value="" size="14" tabindex="2" required />
          </div>
        </li>

        <li id="foli6" class="notranslate email">
          <label class="desc" id="title6" for="Field6">
            Your email address <span id="req_6" class="req">Required field</span>
          </label>
          <input id="Field6" name="Field6" type="email" placeholder="hi@getbiked.com" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required />
        </li>

        <li id="fo1li38" class="phone notranslate phone">
          <label class="desc" id="title38" for="Field38">
          Your phone number
          </label>
          <input id="Field38" name="Field38" type="tel" placeholder="(555)" class="field text" value="" size="3" maxlength="3" tabindex="4" onkeyup="handleInput(this);" onchange="handleInput(this);">

          <input id="Field38-1" name="Field38-1" type="tel" placeholder="555" class="field text" value="" size="3" maxlength="3" tabindex="5" onkeyup="handleInput(this);" onchange="handleInput(this);">

           <input id="Field38-2" name="Field38-2" type="tel" placeholder="5555" class="field text" value="" size="4" maxlength="4" tabindex="6" onkeyup="handleInput(this);" onchange="handleInput(this);">
          </li>

        <h4 class="bike-section"><span>About</span> The Bike</h4>
        <li id="foli27" class="notranslate headline">
          <label class="desc" id="title27" for="Field27">
            What kind of bike are you selling? <em>(This will be the headline of your entry)</em><span id="req_27" class="req">Required field</span>
          </label>
          <input id="Field27" name="Field27" type="text" placeholder="A well loved, &amp; maintained Bianchi Axis road bike" class="field text small" value="" maxlength="255" tabindex="6" onkeyup="" required />
        </li>
        <li id="fo1li40" class="notranslate gears     ">
          <label class="desc" id="title40" for="Field40">
            Price <span id="req_40" class="req">Required field</span>
          </label>
          <input id="Field40" name="Field40" type="text" placeholder="$450 or best offer" class="field text small" value="" maxlength="255" tabindex="7" onkeyup="handleInput(this); " onchange="handleInput(this);" required="">
        </li>

        <li id="fo1li42" class="notranslate make-model">
          <label class="desc" id="title42" for="Field42">
          Make &amp; model <span id="req_42" class="req">Required field</span>
          </label>
          <input id="Field42" name="Field42" type="text" placeholder="1988 Raleigh Technium" class="field text medium" value="" maxlength="255" tabindex="8" onkeyup="handleInput(this); " onchange="handleInput(this);" required="">
        </li>

        <li id="foli15" class="notranslate size">
          <label class="desc" id="title15" for="Field15">
          Bike size <span id="req_15" class="req">Required field</span>
          </label>
          <input id="Field15" name="Field15" type="text" placeholder="58cm" class="field text small" value="" maxlength="255" tabindex="8" onkeyup="" required />
        </li>

        <li id="fo1li32" class="notranslate color">
          <label class="desc" id="title32" for="Field32">
            Color <span id="req_32" class="req">Required field</span>
          </label>
          <input id="Field32" name="Field32" type="text" placeholder="Blue &amp; yellow" class="field text small" value="" maxlength="255" tabindex="9" onkeyup="handleInput(this); " onchange="handleInput(this);" required="">
        </li>

        <li id="foli22" class="notranslate gears">
          <label class="desc" id="title22" for="Field22">
          Number of gears <span id="req_22" class="req">Required field</span>
          </label>
          <input id="Field22" name="Field22" type="text" placeholder="Single speed" class="field text small" value="" maxlength="255" tabindex="10" onkeyup="" required />
        </li>

        <li id="fo1li34" class="notranslate condition">
          <label class="desc" id="title34" for="Field34">
            Bike condition <span id="req_34" class="req">Required field</span>
          </label>
          <select id="Field34" name="Field34" class="field select medium" onclick="handleInput(this);" onkeyup="handleInput(this);" tabindex="11">
            <option value="Select condition" selected="selected">
              Select condition
            </option>
            <option value="Brand spankin' new">
            Brand spankin' new
            </option>
            <option value="Has a few miles, but in perfect condition">
            Has a few miles, but in perfect condition
            </option>
            <option value="A few battle scars, but in good condition">
            A few battle scars, but in good condition
            </option>
            <option value="A little banged up">
            A little banged up
            </option>
            <option value="A real fixer-upper">
            A real fixer-upper
            </option>
          </select>
        </li>

        <li id="foli30" class="notranslate neighborhood">
          <label class="desc" id="title30" for="Field30">
            <p>Which neighborhood is the bike in?</p> <span id="req_30" class="req">Required field</span>
          </label>
          <input id="Field30" name="Field30" type="text" placeholder="Gowanus, Brooklyn" class="field text small" value="" maxlength="255" tabindex="12" onkeyup="" required />
        </li>

        <li id="foli25" class="notranslate photos" >
          <label class="desc" id="title25" for="Field25">
            <p>Photos <em>please provide photos of the actual bike you're selling.</em></p> <span id="req_25" class="req">Required field</span>
            <div class="photo-wrap">
              <input id="Field25" name="Field25" type="file" class="field file" size="12" tabindex="13" required />
            </div>
          </label>
          <div class="more-photos">
            <p><a href="#">+ Add more photos</a></p>
            <div class="more-photos-wrap">
                <label class="desc photo-2" id="title44" for="Field44">
                  Photo #2
                  <div class="photo-wrap">
                    <input id="Field44" name="Field44" type="file" class="field file" size="12" tabindex="-1">
                  </div>
                </label>
                <label class="desc photo-3" id="title44" for="Field45">
                  Photo #3
                  <div class="photo-wrap">
                    <input id="Field45" name="Field45" type="file" class="field file" size="12" tabindex="-1">
                  </div>
                </label>
                <label class="desc photo-4" id="title44" for="Field46">
                  Photo #4
                  <div class="photo-wrap">
                    <input id="Field46" name="Field46" type="file" class="field file" size="12" tabindex="-1">
                  </div>
                </label>
                <label class="desc photo-5" id="title44" for="Field47">
                  Photo #5
                  <div class="photo-wrap">
                    <input id="Field47" name="Field47" type="file" class="field file" size="12" tabindex="-1">
                  </div>
                </label>
            </div>
          </div>

        </li>

        <li id="foli3" class="notranslate description">
          <label class="desc" id="title3" for="Field3">
            <p>Detailed description of the bike <span id="req_25" class="req">Required field</span></p>
          </label>
          <textarea id="Field3" name="Field3" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="14" onkeyup=""></textarea>
        </li>

        <li id="foli13" class="notranslate why">
          <label class="desc" id="title13" for="Field13">
            <p>Why are you selling this bike?</p>
          </label>
          <textarea id="Field13" name="Field13" class="field textarea small" spellcheck="true" rows="10" cols="50" tabindex="15" onkeyup=""></textarea>
        </li>

        <li id="fo1li35" class="notranslate anything-else focused">
          <label class="desc" id="title35" for="Field35">
          Anything else?
          </label>
          <textarea id="Field35" name="Field35" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="17" onkeyup="handleInput(this); " onchange="handleInput(this);" wrap="function (wrapper){var __method=this;return function(){return wrapper.apply(this,[__method.bind(this)].concat($A(arguments)));}}"></textarea>
        </li>

        <li class="buttons ">
          <p class="terms"><em>By clicking Submit below, you agree to the <a href="/terms">terms of service</a></em>.</p>
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
        </li>

        <li class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="hWVu/Kf9erGXrjbOmXGQ/xDIEi8IzdAkzJyssqchcEQ=" />
        </li>
      </ul>
      </form>
      
  </section>
</div>


{% include 'includes/footer' %}