.header {
  width: 100%;
  background: $color-grey-blue;
  @include clearfix;
  @include respond-to(wide-screens) {
    position: fixed;
    width: 25%;
    max-width: 350px;
    float: left;
    background-position: top right;
    // background-image: url(/img/gb-bg-tall.jpg);
    height: 100%;
    z-index: 2;
    overflow: hidden;
    overflow-y: scroll;
    @include box-sizing(border-box);
  }
  @include respond-to(medium-screens) {

  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    color: $color-white;
    width: 100%;
    margin: 0 auto;
    background-image: url(/img/gb-bg-wide.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 15%;
    font-size: 24px;
    position: relative;
    font-weight: 200;
    @include clearfix;
    @include transition(all 0.2s ease-in-out);

    span {
      display: block;
    }
    img {
      width: 100%;
      margin: 0 auto;
      @include respond-to(medium-screens) {
        float: left;
        width: 50%;
      }
    }
    p {
      margin-left: 4%;
    }
    @include respond-to(wide-screens) {

    }
    @include respond-to(medium-screens) {
      p {
        margin-bottom: 0px;
        position: absolute;
        bottom: 51px;
        width: 38%;
        right: 10%;
        line-height: 25px;
        font-size: 24px;
      }
    }
  }
  .nav {
    @include clearfix;
  }
  .description {
    padding: 25px 10%;
    p {
      color: $color-white;
    }
    ul, li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .button {
      margin-bottom: 1em;
      width: 100%;
      background: $color-blue;
      @include respond-to(wide-screens) {
        float: left;
      }
      @include respond-to(medium-screens) {
        margin-bottom: 0;
      }
    }
    .nav {
      .button {
        @include respond-to(medium-screens) {
          width: 48%;
          float: left;
          &.list, &.gear {
            float: right;
          }
          &.learn, &.gear {
            margin-top: 15px;
          }
        }
      }
    }
  }
  .signup {
    margin-top: 10px;
    p {
      font-size: 14px;
      line-height: 18px;
      font-style: italic;
      color: transparentize($color-white, 0.4);
      clear: both;
      margin: 25px 0 5px;
      @include respond-to(wide-screens) {
        font-size: 12px;
        line-height: 16px;
      }
    }
    span {
      @include respond-to(wide-screens) {
        display: none;
      }
    }
    input[type=email] {
      width:60%;
      float: left;
      @extend .textFieldClean;
       border: 1px solid lighten($color-black, 80%);
       padding: 0.6em 0.5em;
       font-size: 1rem;
       height: auto;
      @include respond-to(wide-screens) {
        font-size: 12px;
        padding: 12px 4% 9px;
      }
    }
    input[type=submit] {
      width: 40%;
      float: right;
      -webkit-appearance: none;
      @include border-radius(0);
    }
  }
  .menu {
    width: 100%;
    border-bottom: 1px solid transparentize($color-white, 0.9);
    @include transition(all 0.2s ease-in-out);
    a {
      padding: 20px 5% 20px 14%;
      color: $color-white;
      display: block;
      @include respond-to(medium-screens) {
        padding: 20px 5% 20px 10%;
      }
    }
    .ss-close {
      opacity: 0;
      display: none;
    }
    .ss-navigatedown {
      opacity: 1;
    }
    @include respond-to(wide-screens) {
      display: none;
    }
    .ss-icon {
      position: relative;
      top: 3px;
      font-size: 30px;
      margin-right: 10px;
      float: right;
      @include transition(all 0.2s ease-in-out);
    }
    &.open {
      .ss-close {
        opacity: 1;
        display: inline-block;
      }
      .ss-navigatedown {
        opacity: 0;
        display: none;
      }
    }
  }
  .nav-wrap a {

    &.closed {
      .close {

      }
    }
  }
}