.page-content, .page-header {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 50px 10%;
  @include respond-to(wide-screens) {
    width: 70%;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
    // max-width: 1000px;
    @include box-sizing(border-box);
  }
}
.page-header {
  padding: 50px 4% 20px;
  background-color: $color-white;
  @include respond-to(wide-screens) {
    border-bottom: 1px solid transparentize($color-black, 0.8);
    width: 75%;
    max-width: none;
  }
  h1 {
    font-size: 50px
  }
}
.bike-list .page-content {
  max-width: 1600px;
}
.sidebar-spacing {
  @include respond-to(wide-screens) {
    width: 25%;
    max-width: 350px;
    display: block;
    position: relative;
    z-index: 1;
    height: 100%;
    float: left;
    height: 1000px;
  }
}
dt {
  font-weight: bold;
  // font-family: $type-con;
  // text-transform: uppercase;
  @include respond-to(wide-screens) {
    float: left;
    width: 35%;
  }
}

dd {
  // float: left;
  overflow: hidden;
}
