.page-content, .page-header {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 50px 10%;
  @include respond-to(wide-screens) {
    width: 70%;
    float: left;
    padding-left: 4%;
    padding-right: 4%;
    // max-width: 1000px;
    @include box-sizing(border-box);
  }
}

.page-header {
  padding: 50px 4% 20px;
  background-color: $color-white;
  @include respond-to(wide-screens) {
    border-bottom: 1px solid transparentize($color-black, 0.8);
    width: 75%;
    max-width: none;
  }
  h1 {
    font-size: 50px
  }
}
.bike-list .page-content {
  max-width: 1600px;
}
.sidebar-spacing {
  @include respond-to(wide-screens) {
    width: 25%;
    max-width: 350px;
    display: block;
    position: relative;
    z-index: 1;
    height: 100%;
    float: left;
    height: 1000px;
  }
}
dt {
  font-weight: bold;
  // font-family: $type-con;
  // text-transform: uppercase;
  @include respond-to(wide-screens) {
    float: left;
    width: 35%;
  }
}

dd {
  // float: left;
  overflow: hidden;
}

.about .page-content {
  h3 {
    font-size: 46px;
    line-height: 52px;
    font-weight: 100;
    margin-top: 30px;
  }
  h4 {
    font-size: 24px;
    line-height: 31px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px
  }
}

.faqs .page-content, .mission .page-content, .about .page-content, .terms .page-content, .people .page-content {
  max-width: 900px;
  padding-left: 14%;

}
.faqs .page-content {
  h3 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 100;
    margin: 40px 0;
  }
  strong {
    display: block;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}