.submit {
  background: $color-dark-blue;
  padding: 150px 0;
  h1, h2, h3, h4 {
    color: $color-white;
  }
  h2 {
    font-weight: 100;
    font-style: normal;
    font-size: 3rem;
    @include respond-to(wide-screens) {
      font-size: 5em;
    }
    span {
      display: block;
      font-size: 1em;
      @include respond-to(wide-screens) {
      }
    }
  }
  h3 {
    color: lighten($color-black, 40%);
    font-weight: 100;
    margin-top: 5px;
  }
  h4 {
    margin-top: 60px;
    font-weight: 900;
    padding-bottom: 10px;
    clear: both;
    display: block;
    float: none;
    color: $color-dark-blue;
    font-size: 3em;
    line-height: 1em;
    span {
      display: block;
      font-size: 1em;
      @include respond-to(wide-screens) {
      }
    }
  }
  p {
    margin: 0;
  }
  .lead-in {
    color: transparentize($color-white, 0.2);
    margin-top: 40px;
    float: left;
  }

  form {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    @include clearfix;
    @include respond-to(wide-screens) {
      width: 70%;
    }
  }
  form ul {
    padding: 0 10% 40px;
    margin-top: 20px;
    clear: both;
    float: left;
    background: $color-light-blue;
    @include clearfix;
    @include respond-to(wide-screens) {
    }
  }
  form ul li {
    margin: 20px 0;
    clear: both;
    list-style-type: none;
  }
  .name input {
    @include respond-to(wide-screens) {
      width: 49%;
    }
    &.fn {
      margin-right: 1%;
    }
  }
  input[type=submit] {
    width: 100%;
    font-size: 1.3rem;
  }
  .photo-wrap {
    margin-top: 10px;
    float: left;
    width: 100%;
    padding: 10px;
    clear: both;
    color: $color-dark-blue;
    border: 2px dashed transparentize($color-dark-blue, 0.9);
    background: $color-white;
    margin-bottom: 10px;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      border: 2px dashed transparentize($color-dark-blue, 0.7);
      cursor: pointer;
    }
  }
  .photos {
    .req {
      top: 5px;
      bottom: auto;
    }
  }
  .phone {
    input[type=tel] {
      width: 32%;
      max-width: 80px;
      margin-right: 1%;
      &:last-child {
        margin-right: 0;
        max-width: 100px
      }
    }
  }
  .price {
    input[type=text] {
      width: 95%;
      float: right;
    }
    em {
      float: left;
      width: 5%;
      display: block;
    }
  }
  .more-photos p {
    clear: both;
  }
  .more-photos a {
    color: $color-dark-blue;
    margin-bottom: 15px;
    clear: both;
    display: block;
  }
  .terms {
    color: $color-dark-blue;
    font-style: italic;
    margin: 10px 0 ;
    display: block;
    float: left;
    a {
      color: $color-dark-blue;
      text-decoration: undeline;
    }
  }
  form .additional-info {
    margin: 30px 0;
    width: 80%;
    clear: both;
    float: left;
    p, ul, li {
      color: transparentize($color-white, 0.2);
      background: transparent;
      margin-left: 0;
      padding: 0;
    }
    ul li {
      list-style-type: disc;
      padding: 5px 20px;
      color: $color-white;
      font-weight: 600;
      margin: 10px 0;
    }
    ul {
      margin: 0;
    }
  }
}