.button {
  background: $color-blue;
  color: $color-white;
  display: block;
  text-decoration: none;
  padding: 1.1em 3%;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-appearance: none;
  text-align: center;
  @include border-radius(4px);
  @include transition(all 0.2s ease-in-out);
  &:hover {
    background: darken($color-blue, 20%);
  }
}

.photos {
  margin: 20px 0;
  ul, li {
    list-style-type: none;
  }
}