{% include 'includes/header' %}
<div class="anatomy-page">
  <header>
    <div class="wrap">
      <h1 class="icon-get-biked-logo"></h1>
      <h2>Bike Anatomy</h2>
    </div>
  </header>

  <article>
    <div class="wrap">
      <ul class="nav">
        <li><a href="#" class="frame-fork">Frame &amp; Fork</a>
          <ul class="desc">
            <li><strong>Function:</strong> Supports rider, components, and luggage. </li>
            <li><strong>Material:</strong> Steel and aluminum alloys, titanium, and carbon fiber. </li>
            <li><strong>Uses:</strong> commuting, leisure, travel, road, and racing. </li>
            <li><strong>Construction:</strong> Rigid or foldable.  </li>
          </ul>
        </li>
        <li><a href="#" class="wheels-tires">Wheels &amp; Tires</a>
          <ul class="desc">
            <li><strong>Function:</strong> Keep you rolling forward</li>
            <li><strong>Material:</strong> Steel, Aluminum, Carbon Fiber</li>
            <li><strong>Component Parts:</strong> Rim, Spoke, Hub, Skewer.</li>
            <li><strong>Tires:</strong> thin for racing; thick for offroad.</li>
            <li><strong>Gear Sprocket</strong></li>
          </ul>
        </li>
        <li><a href="#" class="seat-posts">Seat &amp; Seat Post</a>
          <ul class="desc">
            <li><strong>Function:</strong> keeps the rider in correct riding position. </li>
            <h3>Seat Post<h3>
            <li><strong>Materials:</strong> Steel, Aluminum, Carbon-fiber. </li>
            <li><strong>Adjustability:</strong> up and down; pitch</li>
            <h3>Seat</h3>
            <li><strong>Materials:</strong> Leather, synthetic cover, foam, plastic. </li>
            <li><strong>Adjustability:</strong> Sliding rails for front to back movement. </li>
            <li><strong>Male v. Female:</strong> Male seat is narrower and longer. </li>
          </ul>
        </li>
        <li><a href="#" class="cockpit">The Cockpit</a>
          <ul class="desc">
            <h3>Handlebar</h3>
            <p>Control center of the bike:</p>
            <li><strong>Uses:</strong> hand placement, steering, braking, gear shifting, lights, bell, navigation, etc.</li>
            <li><strong>Tip:</strong> the longer the rides, the more hand positions you want to have.  </li>
            <li><strong>Types:</strong> Short, straight, beach, curved, mustache, bullhorn, drop, trekking.</li>
            <li><strong>Grip:</strong> rubber, leather, cork, foam. </li>
            <h3>Stem</h3>
            <p>Holds the handlebar and adjusts its position.</p>
            <li><strong>Types:</strong> threaded (quill), threadless</li>
            <li><strong>Materials:</strong> Aluminum, carbon fiber</li>
            <li><strong>Adjustment:</strong> height and pitch</li>
            <h3>Brakes and Brake Levers</h3>
            <p>Help you stop the bike. </p>
            <li><strong>Brake Types:</strong> Skid; Coaster-Brake, Cantilever, Single Pivot, Dual Pivot, Disk. </li>
            <li><strong>Lever Types:</strong> full size, short lever, brakes with built-in gear shifters. </li>
            <li><strong>Hoods covers:</strong> rubber components that make holding the brake lever easier. </li>
          </ul>
        </li>
        <li><a href="#" class="pedals-crank">Pedals &amp; Crank</a>
          <ul class="desc">
            <li><strong>Function:</strong> Feet rotate the crank that moves the chain </li>
            <li><strong>Types:</strong> Single sided; Double-sided; Caged; Clips</li>
          </ul>
        </li>
      </ul>
    </div>
  </article>
  <ul class="diagram">
      <div class="icon-full-bike icon"></div>
      <li class="frame-fork icon-frame icon"></li>
      <li class="wheels-tires icon-wheels icon"></li>
      <li class="seat-posts icon-seat icon"></li>
      <li class="cockpit icon-brakes icon"></li>
      <li class="pedals-crank icon-crank icon"></li>
    </ul>
</div>
  <script src="/js/anatomy.js"></script>
{% include 'includes/footer' %}