{% include 'includes/header' %}

  <header>
    <h1>{{title}}</h1>
    <!-- <div class="illustrator-credit">{{meta['Illustrator'] | markdown:true}}</div> -->
    {% for asset in assets %}
      <div class="illo-wrap"><img src="{{asset.url}}" alt="{{title}}" /></div>
    {% endfor %}
  </header>
  <div class="content-block">
    <div class="byline">
      <div class="pic">
        <img src="" alt="" />
        <p>By <a href="/people/feliks-finkel/">Feliks Finkel</a>
            <br /> {{date | date: "%B %d, %Y"}}</p>
      </div>
      <div class="illo-credit">
      {{meta['Illustrator'] | markdown:true}}
    </div>
    </div>

    <article>
      {{body}}
    </article>
    <div class="signup">
        <p>Stay up to date with Get Biked (and get bikes for sale in your inbox) by signing up for the email list:</p>
        <div class="container">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="http://iamdavedawson.us6.list-manage.com/subscribe/post?u=d7b57d8da83c0125ac45d82c4&amp;id=f56ce221d3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
  </div>

{% include 'includes/footer' %}